.ekta-view {

    min-height: 500px;
    background-color: #00021c;
    padding-bottom: 70px;
    color: #fff;
    margin: 0 0 90px 0;
    padding: 0 0 0 0;
    top:100px;
    bottom: 20px;
}
.container {
    width: 100%;
    padding-left: 0!important;
    padding-right: 0!important;
}
.policy-header {
    margin-top: 0px;
    margin-bottom: 20px;
}
.policy-content p {
    font-family: OpenSansRegular;
    font-size: 16px;
    color: rgba(255,255,255,.5);
    text-align: justify;
    line-height: 28px;
    margin-bottom: 10px;
}