/* .login-form-dialog {
    background-color: #1e2257;
    border-radius: 9px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}
.ekt-dialog-header {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    color: #fff;
    padding: 20px;
    background: #101340;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}
.ekt-dialog-form {
    padding: 20px;
    margin-top: 10%;
}

.feedback-text-color {
    color: #fff;
}
.ngdialog *, .ngdialog :after, .ngdialog :before {
    box-sizing: inherit;
}
.ekt-dialog-form {
    padding: 20px;
    margin-top: 10%;
}
.plan-title-area, .signin-error-area {
    text-align: center;
    padding: 20px;
    color: #ffc908;
    font-size: 14px;
    margin-bottom: 40px;
    margin-left: -38px;
    margin-right: -38px;
}
.md-input-container {
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 18px 0;
    vertical-align: middle;
}
.md-input-container.md-block {
    display: block;
}
.md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    padding-left: 3px;
    padding-right: 0;
    z-index: 1;
    -webkit-transform: translate3d(0, 28px, 0) scale(1);
    transform: translate3d(0, 28px, 0) scale(1);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    max-width: 100%;
    -webkit-transform-origin: left top;
    transform-origin: left top;
}
.md-input-container .md-input-messages-animation {
    position: relative;
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    order: 4;
    overflow: hidden;
    clear: left;
}
.full-width-button {
    width: 100%;
}
.md-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin: 20px 0 26px 0;
}
.md-select-menu .ekt-dialog-form {
    background: #2f357e;
}
.md-select-menu .md-content {
    min-width: 136px;
    min-height: 48px;
    max-height: 256px;
    overflow-y: auto;
}
.md-select:not([disabled]).ng-invalid.ng-touched .md-select-value {
    border-bottom-style: solid;
    padding-bottom: 1px;
}
.md-select.ng-invalid.ng-touched .md-select-value {
    color: #fff!important;
    border-bottom-color: rgba(255,255,255,.08)!important;
}
.md-input-container .md-resize-handle {
    position: absolute;
    bottom: 22px;
    left: 0;
    height: 10px;
    background: transparent;
    width: 100%;
    cursor: ns-resize;
} */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
.form {
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #191d4f;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    max-width: 220px;
    min-height: 400px;
    margin-bottom: 25%;
    position: relative;
    min-width: 320px;
    display: none;  
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 450px;
    padding: 20px;
    border-radius: 10px; 
    z-index: 2;
}

.form.show {
    display: flex;
    /* Show the feedback form when the button is clicked */
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* Set the overlay below the form */
    display: none;
    /* Initially hide the overlay */
}

.overlay.show {
    display: block;
    /* Show the overlay when the form is opened */
}

.header {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 0px;
    background-color: #191d4f;
}

.form .title {
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.form input {
    outline: 0;
    border: none;
    border: 1px solid rgb(219, 213, 213);
    padding: 0px 10px 0 15px;
    border: none;
    border-bottom: 1px solid #454558;
    width: 100%;
    height: 40px;
    color: #ffdd;
    border-radius: 5px;
    font-size: 20px;
}

.form textarea {
    border: none;
    color: #fff;
    height: 100px;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 6px 10px 0 15px;
    overflow: auto;
    border-radius: 5px;
    border-bottom: 1px solid #454558;
    font-size: 15px;
}

input[type="email"],
textarea {
    font-family: 'Montserrat', sans-serif;
    background-color: #101340;

}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.form button {
    align-self: center;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: #7249bf;
    color: #fff;
    cursor: pointer;
}

select {
    background: #101340;
    border: 0px solid rgb(84, 73, 116);
    width: 100%;
    height: 40px;
    font-size: large;
    outline: none;
    color: #fff;
    padding: 2px 10px 2px 15px;
    border-bottom: 1px solid #454558;
    border-radius: 5px ;
}

option {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.select-items {
    position: absolute;
    background-color: #101340;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
 select option:hover{
    color: #ffb908;
}
.select-items div:hover, .same-as-selected {
    background-color: #fff5
  }
 select:focus + .arrow,
	 select:hover + .arrow{
			background-color: #e1ca47;
		}
option:checked {
    width: 10%;
    margin: 30px;
    font-weight: bold;
}

#the-count {
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: 0.875rem;
    color: #fff5;
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: 0.875rem;
    color: #fff5;
    display: flex;
    justify-content: flex-end;
    margin-left: 260px;
  }