.owl-carousel .item {
    height: 10rem;
    padding: 0.5rem;
    margin-bottom: 150px;
}
h2{
    color: #fff;
}
a{
    color: #fff;
    text-decoration: none;  
}
.section-title {
    text-decoration: none;
    color: #fff;
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    cursor: default;
    font-family: MontserratRegular;
}
.left-margin-episode {
    margin-left: 88%;
}
.see-all-link {
    font-size: 14px;
    padding: 0;
    cursor: pointer;
    color: #ffc908;
}

.owl-lazy {
    height: 500px;
    max-height: 400px;
    size: contain;
    border-radius: 10px;
    
}
.owl-lazy:hover{
   
}

.card-item {
    position: relative;
    border-radius: 3px;
    display: block;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.image-holder {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.card-item .premium-badge {
    width: 20px !important;
    position: absolute;
    top: 8px;
    left: 10px;
}

.card-item .image-holder img {
    transition: all .2s ease-in-out;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}

.card-item img {
    width: 100%;
    border-radius: 3px 3px 0 0;
}