 
 .main-page-item{
    margin: 0px ;
    display: block;
 }
 .fluid{
    position: relative;
    border-radius: 3px;
    display: block;
    text-overflow: ellipsis;
    margin-bottom: 10px;
 }
.fluid .owl-nav {
    color: #f3ebeb !important;
    opacity: 1;
    cursor: pointer;
 } 
 .owl-prev,
 .owl-next {
   display: block;
 }
 
 .hide-navigation .owl-prev,
 .hide-navigation .owl-next {
   display: none;
 }
 
.fluid .owl-nav:hover {
    color: #5b5656 !important;
    cursor: pointer;
}
.fluid .owl-dot.active span {
    width: 10px !important;
    background: #f39c77 !important;
}
.fluid .owl-dot:hover span {
    width: 10px !important;
    background: #c4b531 !important;
}

.fluid .owl-prev,
.fluid .owl-next {
    position: absolute;
    font-size: 10rem !important;
    top: 20%;
    padding-left: 15px;
    padding-right: 15px;
    transition: opacity .2s ease-out;
    opacity: 1 !important;
}
.fluid .owl-prev:hover,
.fluid .owl-next:hover {
   opacity: 2 !important;
   background-color: #bbb8b8 !important;
   
}
.fluid .owl-prev {
    left: 0; 
}
.fluid .owl-next {
    right: 0; 
}

.card-img-top{
    width: 100%;
    min-height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.owl-carousel .item {
    height: 10rem;
    padding: 0.5rem;
    margin-bottom: 150px;
}
h2{
    color: #fff;
}
a{
    color: #fff;
    text-decoration: none;  
}
a:hover{
    text-decoration: none;
    color: #ffc908;
}
.section-title {
    text-decoration: none;
    color: #fff;
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
   padding-left: 50px;
}
.section-title:hover{
    text-decoration: none;
    color: #fff;
}
.left-margin-episode {
    margin-left: 88%;
}
.see-all-link {
    font-size: 14px;
    padding: 0;
    cursor: pointer;
    color: #ffc908;
}
.card-item {
    position: relative;
    border-radius: 3px;
    display: block;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.image-holder {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.card-item .premium-badge {
    width: 20px !important;
    position: absolute;
    top: 8px;
    left: 10px;
}

.card-item .image-holder img {
    transition: all .2s ease-in-out;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    /* -webkit-transform-style: preserve-3d; */
}

.card-item img {
    width: 100%;
    border-radius: 3px 3px 0 0;
}
.LiveTv{
    margin:10px 10px ;
}