.navbar-inverse {
 position:absolute;
  background-color: #00021C;
  width: 100%;
  border-radius: 0%;
}
.nav.split {
  float: right;
  background-color: #04AA6D;
  color: white;
}
.navbar-brand {
  color: brown;
  font-size: xx-large;
}

.signin{
  background-image: url('/public/image/guest-user-background.png');
}
.hr.rounded{
border-top: 1px solid #595858 !important;
border-radius: 2px;
margin: 1px 0px 0px 0px !important;
}
.blue-button {
  background: #7249bf;
  font-size: 100%;
  color: #fff;
  text-align: center;
  line-height: 10px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  /* background-color: #e184de; */
  /* border: none;
  border-radius:20px;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer; */
}
.from-button{
  font-size: 100%;
    background: #7249bf;
    box-shadow: none;
    border: 1px solid #7249bf;
    border-radius: 60px;
    width: 150px!important;
    height: 45px;
    margin: auto;
    display: table;
    color: #fff;
}
.button:hover,
:active{

  color: #b83f74;
}
.header {
  padding: 15x 43px !important
}

.navbar-toggler-icon {
  color: brown;
}

.hidden-xs {
  align-content: center !important;
  align-items: center !important;
  margin: 20px 10px 10px 30px;
  font-size: 20px
}

.dropdown-menu {
  background: #191D4F !important;
  min-width: 280px;
  padding: 10px 50px;
  font-size: 15px;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 80%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #00021C; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1e8e8;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

.openBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.openBtn:hover {
  background: #bbb;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  background-color: #000000e6;
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}