.navbar-inverse {
  position: absolute;
  background-color: #00021C;
  width: 100%;
  border-radius: 0%;
}

.nav.split {
  float: right;
  background-color: #04AA6D;
  color: white;
}

.navbar-brand {
  color: brown;
  font-size: xx-large;
}

.signin {
  background-image: url('../image/guest-user-background.png');
    margin-bottom: 10px; 
    min-height: 70px;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.blue-button {
  background: #7249bf;
  font-size: 100%;
  color: #fff;
  text-align: center;
  line-height: 10px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);

}

.from-button {
  font-size: 100%;
  background: #7249bf;
  box-shadow: none;
  border: 1px solid #7249bf;
  border-radius: 60px;
  width: 150px !important;
  height: 45px;
  margin: auto;
  display: table;
  color: #fff;
}

.button:hover,
:active {

  color: #586c95;
}

.hr {
  height: 1px;
  border-width: 0;
  color: rgb(103, 109, 130);
  background-color: rgb(62, 63, 80)
}

.header {
  padding: 15x 43px !important
}

.fa:hover {
  color: #d2691e;
}

.navbar-toggler-icon {
  color: brown;
}

.download-button {
  width: 0;
  position: fixed;
  background: #020018;
  bottom: 0;
  z-index: 1990;
  left: 0;
  min-height: 35px;
  min-width: 270px;
  transition: .3s;
  overflow: auto;
}

.hidden-xs {
  align-content: center !important;
  align-items: center !important;
  margin: 20px 10px 10px 30px;
  font-size: 20px
}

.dropdown-menu {
  background: #191D4F !important;
  min-width: 280px;
  padding: 10px 50px;
  font-size: 15px;
}
.dropdown-menu li a:hover{
    color:#fff;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 80%;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #00021C;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 0px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */

}

/* The navigation menu links */
.sidenav a {
  padding: 0px 0px 0px 30px;
  text-decoration: none;
  font-size: 20px;
  color: #f1e8e8;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
:active {
  color: #daa844;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

.openBtn {
  background: #f1f1f1;
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
}

.openBtn:hover {
  background: #3952b8;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #00021C;
  background-color: #00021C;
 
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 90%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  
}

.overlay .closebtn {
  position: absolute;
  top: 10%;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: #e4edf0;
}

.overlay input[type=placeholder] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: #101340;
  border: 1px solid #101340 !important;
  border-radius: 5px;
}
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: #101340;
  border: 1px solid #101340 !important;
  border-radius: 5px;
}

.overlay input[type=text]:hover {
  background: #101340;
  color: #fff;
  border: 1px solid #101340 !important;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    width: 70%;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}