.main-nav-opaque {
    background-color: #00021c;
    height: 70px;
    min-height: 56px;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
}
.hamburger-button-div {
    position: absolute;
}
.hamburger-button {
    height: 22px;
    margin: 24px 0 0 24px;
    padding: 0;
    position: absolute;
    display: none;
}
[class*=" icon-"], [class^=icon-] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[role=button] {
    cursor: pointer;
}
.main-menu {
    display: table;
    margin-left: 15%;
}
.main-menu .nav-pills {
    padding-top: 18px;
}
.nav-pills li {
    float: left;
}
.main-menu .nav-pills li a:hover {
    color: #ffc908;
  }
.main-menu .nav-pills li a {
    line-height: 35px;
    display: inline-block;
    color: rgba(255,255,255,.75);
    padding: 0 16px;
    text-transform: uppercase;
    font-size: 14px;
    min-width: auto;
    font-family: OpenSansRegular;
    text-decoration: none;
}
.nav-pills li.active a,
 .nav-pills li.active a:focus,
  .nav-pills li.active a:hover {
    color: #fff;
    background-color: #337ab7;
}
.main-menu .nav-pills li.active a,
 .main-menu .nav-pills li.active a:focus {
    background-color: #7249bf;
    border: 2px solid #7249bf;
    border-radius: 35px;
    color: #fff;
    font-family: OpenSansBold;
}
.main-menu .nav-pills li.active a:hover {
    color: #ffc908;
}
.main-menu .nav-pills li.active a:hover{
    border-radius: 2px solid #7249bf;
    cursor: pointer;
    background-color: transparent;
}

.nav li a {
    position: relative;
    display: block;
    border-radius: 4px;
    padding: 10px 15px;
}
ul {
    list-style: none;
    padding: 0;
}
.nav-pills li+li {
    margin-left: 2px;
}
.mobile-os-list {
    position: absolute;
    float: right;
    right: 20px;
    top: 10px;
}
.mobile-os-list ul li {
    float: left;
    margin: 5px 0 0 5px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.mobile-os-list ul li a img {
    height: 25px;
    width: 25px;
}
.nav li {
    position: relative;
    display: block;
}
.subscribe-icon-new {
    width: 120px!important;
    margin-top: 5px!important;
}
img {
    max-width: 100%;
}

.dropdown, .dropup {
    position: relative;
}
#menu-profile-img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #191d4f;
}
.drop-text {
    top: -6px;
    position: relative;
}
.drop-center-aligned {
    margin-left: -50px!important;
}
.drop-right-aligned {
    right: 0!important;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2f357e;
    min-width: 235px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
    z-index: 1;
    margin-top: 14px;
}
.dropdown-content li {
    background: #2f357e;
    overflow: auto;
    margin-bottom: 1px;
}
.drop-down-icons {
    font-size: 32px;
    margin-right: 20px;
}
.dropdown-content a {
    color: #fff;
    padding: 0px 0px 0px 0px;
    margin-top: 12px;
    font-weight: 700;
    margin-left: 12px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
}
.dropdown-content a:hover,
.my-profile-icon img:hover{
    color: #ffc908;
}
.my-profile-icon {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px!important;
    width: 36px!important;
    margin-bottom: -4px;
    margin-right: 0px;
     display: inline-block;
}
.subscription-icon {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 32px!important;
    width: 36px!important;
    margin-left: -1px;
    margin-top: 2px;
    display: inline-block;
}
.activate-change {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 29px!important;
    width: 32px!important;
    margin-left: 0;
    display: inline-block;
}
@media screen and (min-width: 981px){
.logo-margin {
    margin: 8px 0 0 45px;
}}
@media screen and (max-width: 980px){
.main-menu .navs {
    display: none;
}
.hamburger-button {
    display: inline-block;
}
.logo-margin{
    margin-left: 55px;
}
.non-mobile{
    display: none;
}
}
@media screen and (min-width: 1456px){
.nav-pills li {
    float: left;
    margin-left: 40px;
    margin-right: 40px;
}
.main-menu .nav-pills li a {
    padding: 0 15px;
}
.nav-pills li {
    float: left;
    margin-left: 40px;
    margin-right: 40px;
}

}
@media screen and (max-width: 500px){
.mobile-os-list ul li {
    margin: 0;
}}

a{
    text-decoration: none;
    cursor: pointer;
}