.ngdialog.ngdialog-theme-default {
    z-index: 80;
}
.login-form-dialog {
    background-color: #191d4f;
    border-radius: 9px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}
.ekt-dialog-header {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    color: #fff;
    padding: 20px;
    background: #101340;
    margin-top: 20px;
    font-family: OpenSansLight;
}
.ekt-dialog-form {
    padding: 20px;
    margin-top: 10%;
}
.promocode-error-area {
    text-align: center;
    color: #ffc908;
    margin: 10px;
}
.promo-code-box a {
    color: rgba(253,227,0,1);
    font-size: 14px;
    float: right;
    margin-top: -20px;
}
.login-form-dialog a {
    /* cursor: pointer;
    color: #fff;
    font-size: 14px; */
}
.promocode-dialog .error-msg {
    color: #eb0808;
    font-size: 12px;
    display: none;
}
.login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    font-weight: 700;
    
    transition: .2s;
    color: #fff;
}
.required-input {
    border: 1px solid #ccc;
}
.plan-title-area, .signin-error-area {
    text-align: center;
    padding: 20px;
    color: #ffc908;
    font-size: 14px;
    margin-bottom: 40px;
    margin-left: -38px;
    margin-right: -38px;
}
.plan-title-area h1 {
    color: rgba(253,227,0,1);
    font-size: 22px;
    text-align: left;
    margin-left: 20px;
    font-family: OpenSansSemiBold;
}
.discount-area h1, .plan-title-area h2 {
    font-size: 14px;
    color: #fff;
    text-align: left;
    margin-left: 20px;
    font-family: OpenSansSemiBold;
}
.discount-area h1 span, .plan-title-area h1 span {
    font-size: 18px;
    color: #fff;
    float: right;
    margin-right: 20px;
}
.discount-area {
    margin: 20px -20px;
}
.discount-area h1 {
    margin-bottom: 20px;
}
.ekt-submit-button {
    padding: 30px 0 0 0;
}

.button-flex {
    display: flex;
    width: 400px;
    margin: auto;
}
.decrease-font-size {
    font-size: 16px!important;
}

.blue-button {
    background: #7249bf;
    font-size: 100%;
    color: #fff;
    text-align: center;
    line-height: 18px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.full-width-button {
    width: 100%;
}
.form-button {
    font-size: 100%;
    background: #7249bf;
    box-shadow: none;
    border: 1px solid #7249bf;
    border-radius: 60px;
    width: 150px!important;
    height: 45px;
    margin: auto;
    display: table;
    color: #fff;
}