.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.rating {
  background: #101340;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  padding: 20px;
  z-index: 2;
  display: none;
  position: fixed;
}

.overlay.show {
  display: block;
}

.rating.show {
  display: grid;
  justify-content: center;
  align-items: center;
}

.ratingStar {
  font-size: 50px;
  cursor: pointer;
  color: #fff5;
}

.ratingStar:hover,
.ratingStar.selected,
.ratingStar.active {
  color: gold;
}

.form-button {
  font-size: 100%;
  background: #7249bf;
  box-shadow: none;
  border: 1px solid #7249bf;
  border-radius: 60px;
  width: 150px!important;
  height: 45px;
  margin: auto;
  display: table;
  color: #fff;
  margin-top: 10px;
}