.ekta-view {
    top: 32px;
    position: relative;
    min-height: 500px;
    background-color: #00021c;
    padding-bottom: 70px;
    color: #ffff;
}
.left-margin {
    margin-top: 50px;
    margin-left: 50px;
}
.subscription-top-margin {
    margin-top: 70px;
    padding-right: 50px;
    padding-left: 20px;
}
.subscription-plans-list {
    display: flex;
    justify-content: space-around;
    width: 98%;
}
.plans-detail {
    width: 48%;
    background: #14173e;
    border-radius: 10px;
    margin-top: -45px;
    padding: 15px;
}
.plan-title {
    text-align: center;
    color: #fff;
    font-size: 24px;
}
.plans-detail {
    width: 48%;
    background: #14173e;
    border-radius: 10px;
    margin-top: -45px;
    padding: 15px;
}
.plan-details-wrapper {
    display: flex;
    justify-content: space-around;
}
.plan-amount {
    margin: auto;
}
.subscribe-radiolinks {
    margin-bottom: 20px;
}
.radiolinks {
    background: #101340;
    border-radius: 2px;
    margin-bottom: 30px;
}
.radiolinks li {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 0 20px;
}
.subscribe-radiobuttons {
    padding: 10px 0 5px 15px!important;
    background: #111435;
    height: 90px;
    border-radius: 10px;
    width: 160px;
}
.subscribe-radio {
    margin-bottom: 0;
}
.md-container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    box-sizing: border-box;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    left: 0;
    right: auto
}
.md-container:before {
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 50%;
    content: '';
    position: absolute;
    display: block;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: auto;
}
.md-on {
    border-width: 2px!important;
    border-color: #7249bf!important;
}
.md-off {
    border-width: 2px!important;
    border-color: #7249bf!important;
}
.md-off {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    -webkit-transition: border-color ease 0.28s;
    transition: border-color ease 0.28s;
}

.text-color-white {
    color: #fff;
    margin-right: 50px;
    margin-left: 50px;
}
.features {
    background: #14173e;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 100%;
}
.free-days-text {
    margin-top: 20px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}
.features-head {
    border-bottom: 1px solid rgba(255,255,255,.08);
}
.plan-category.text-left {
    text-align: left;
    padding-left: 40px;
}
.plan-value {
    text-align: center;
}
.plans-period {
    font-size: 10px;
    color: #caaeff;
}
.plans-period-description {
    margin-left: 30px;
    line-height: 16px;
}
.plan-value h5{
    font-family: fangsong;
    color:#fff;
    font-size: 20px;
}
.plan-info {
    padding: 10px;
    padding-left: 40px;
    color: #caaeff;
}
.plan-category {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 24px;
    text-align: center;
}
.subscription-bottom-div {
    display: flex;
    justify-content: space-between;
    background: #00021c;
    border: 2px dashed #14173e;
    padding: 10px;
}
.note-div {
    font-size: 14px;
    width: 600px;
}
.selected-plan-details {
    position: absolute;
    right: 250px;
}
.selected-plan-name {
    color: #caaeff;
    margin-bottom: 5px;
    font-size: 18px;
}
.selected-plan-amount {
    color: #fff;
    font-size: 30px;
}
.selected-plan-period {
    color: #fff;
    font-size: 14px;
}
.subscribe-button {
    width: 150px;
    height: 50px;
    background: #7249bf;
    border: none;
    color: #fff;
    border-radius: 8px;
    font-size: 18px;
}
.crown-subscribe {
    height: 20px;
    width: 20px;
    margin-top: -5px;
    margin-right: 5px;
}
img {
    max-width: 100%;
}