.ekta-view {
    top: 70px;
    position: relative;
    min-height: 500px;
    background-color: #00021c;
    margin-bottom: 100px;
    color: #ffff;
    width: 100%;
}
.left-margin {
    margin-top: 50px;
    margin-left: 50px;
}
.subscription-top-margin {
    margin-top: 70px;
    padding-right: 50px;
    padding-left: 50px;
}
.subscription-plans-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.plans-detail {
    width: 45%;
    background: #14173e;
    border-radius: 10px;
    margin-top: -45px;
    padding: 15px;
}
.plan-title {
    text-align: center;
    color: #fff;
    font-size: 24px;
}
.plan-details-wrapper {
    display: flex;
    justify-content: space-around;
}
.plan-amount {
    margin: auto;
}
.subscribe-radiolinks {
    margin-bottom: 10px;
}
.radiolinks {
    background: #14173e;
    border-radius: 2px;
    justify-content: center;
    padding: inherit;
}
.radiolinks li {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    align-items: center;
    font-size: 16px;
}
.subscribe-radiobuttons {
    padding: 10px 0 5px 15px!important;
    background: #111435;
    height: 90px;
    border-radius: 10px;
    width: 160px;
    align-items: center;
}
.subscribe-radio {
    margin-bottom: 0;
    border: 0.5rem solid #ce8b8b;
    border-radius: 50%;
}

.text-color-white {
    color: #fff;
    margin-right: 50px;
    margin-left: 50px;
}
.features {
    background: #14173e;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 100%;
}
.free-days-text {
    margin-top: 20px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}
.features-head {
    border-bottom: 1px solid rgba(255,255,255,.08);
}
.plan-category.text-left {
    text-align: left;
    padding-left: 40px;
}
.plan-value {
    text-align: center;
}
.plans-period {
    font-size: 15px;
    color: #caaeff;
}
.plans-period-description {
    margin-left: 20px;
    line-height: 16px;
}
.plan-value h5{
    font-family: fangsong;
    color:#fff;
    font-size: 20px;
}
.plan-info {
    padding: 10px;
    padding-left: 40px;
    color: #caaeff;
}
.plan-category {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 24px;
    text-align: center;
}
.subscription-bottom-div {
    display: flex;
    justify-content: space-between;
    background: #00021c;
    border: 2px dashed #14173e;
    padding: 10px;
    margin: 30px 50px 0 50px;
}
.note-div {
   
    font-size: 14px;
    width: 600px;
}
.selected-plan-details {
   margin-top: 10px;
    position: absolute;
    right: 250px;
}
.selected-plan-name {
    color: #caaeff;
    margin-bottom: 5px;
    font-size: 18px;
}
.selected-plan-amount {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}
.selected-plan-period {
    color: #fff;
    font-size: 14px;
}
.subscribe-button {
    justify-content: flex-end;
    width: 150px;
    height: 50px;
    background: #7249bf;
    border: none;
    color: #fff;
    border-radius: 8px;
    font-size: 18px;
}
.crown-subscribe {
    height: 20px;
    width: 20px;
    margin-top: -5px;
    margin-right: 5px;
}
img {
    max-width: 100%;
}
@media only screen and (max-width: 600px) {
    .subscription-plans-list{
        display: block;
        justify-content: space-evenly;
    }
    .subscription-top-margin {
      
        padding-right: 0px;
        padding-left: 10px;
    }
    .plans-detail{
        min-width: 300px;
        text-align: center;
    }
    .plan-details-wrapper{
        display: inline-flex;

    }
    .radiolinks li{
        display:table-cell;
       
    }
   
    .text-color-white{
      width: 100%;
      margin-left: 0;
    }
    .subscription-bottom-div {
        display: block;
        padding: 10px;
        margin: 0px 0px 0 10px;
    }
    .note-div{
        display: inline;
    }
    .selected-plan-details{
        font-size: 15px;
        margin-left: 20px;
        justify-content: center;
    }
    .selected-plan-amount{
        font-size: 12px;
    } 
    .subscribe-button{
     margin-left: 150px;
    }
  }